html, body {
    height: 100%; /* Full height of the viewport */
    margin: 0; /* No margin to interfere with layout */
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.body-panel {
    position: relative; /* This allows absolute positioning within this container */
    z-index: 1; /* Higher index than the background image */
    padding-top: 0; /* Adjusted padding to account only for top navigation height */
    padding-left: 240px; /* Sidebar width */
    padding-right: 10px; /* For some space on the right */
    padding-bottom: 10px; /* For some space at the bottom */
    min-height: 100vh; /* Full height of the viewport */
    box-sizing: border-box; /* Include padding in the height */
}

.transparent-panel {
    background-color: rgba(255, 255, 255, 0.95); /* White background with 80% opacity */
    border-radius: 8px; /* Optional rounded corners */
    padding: 10px;
    width: calc(100% - 60px); /* Subtract the width of the sidebar and a bit more for margin */
    max-height: calc(100vh - 120px); /* Subtract the combined height of header and footer */
    box-sizing: border-box; /* Include padding in the height */
    overflow-y: auto; /* Enable scroll inside the panel if content is too long */
    position: absolute; /* Make it relative to the .body-panel */
    margin-top: 90px; /* Height of the header */
    left: 30px; /* Width of the sidebar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
}

.mainpageFooter {
    position: fixed;
    width: 100%;
    z-index: 10;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; /* This centers the text inside the footer */
    padding: 4px 0; /* Example padding */
    background: transparent; 
    font-size: xx-small;
}
.main-content {
    padding-left: 0; /* Adjust or remove if necessary */
    padding-right: 0; /* Adjust or remove if necessary */
}